ws/sei-complementar.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<wsdl:definitions
  name="SeiComplementarWS"
  targetNamespace="SeiComplementar"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:tns="SeiComplementar">

  <wsdl:types>
    <xsd:schema targetNamespace="SeiComplementar">

      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />

      <xsd:complexType name="RetornoConsultaConteudoDocumento">
        <xsd:all>
          <xsd:element name="IdProcedimento" type="xsd:string" />
          <xsd:element name="ProcedimentoFormatado" type="xsd:string" />
          <xsd:element name="IdDocumento" type="xsd:string" />
          <xsd:element name="DocumentoFormatado" type="xsd:string" />
          <xsd:element name="MimeType" type="xsd:string" />
          <xsd:element name="Conteudo" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="consultarConteudoDocumentoRequest">
    <wsdl:part name="SiglaSistema" type="xsd:string" />
    <wsdl:part name="IdentificacaoServico" type="xsd:string" />
    <wsdl:part name="IdUnidade" type="xsd:string" />
    <wsdl:part name="IdDocumento" type="xsd:string" />
    <wsdl:part name="ProtocoloDocumento" type="xsd:string" />
  </wsdl:message>

  <wsdl:message name="consultarConteudoDocumentoResponse">
    <wsdl:part name="parametros" type="tns:RetornoConsultaConteudoDocumento" />
  </wsdl:message>

  <wsdl:portType name="SeiComplementarPortType">
    <wsdl:operation name="consultarConteudoDocumento">
      <wsdl:documentation>Consulta o conteúdo do documento</wsdl:documentation>
      <wsdl:input message="tns:consultarConteudoDocumentoRequest" />
      <wsdl:output message="tns:consultarConteudoDocumentoResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="SeiComplementarBinding" type="tns:SeiComplementarPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="consultarConteudoDocumento">
      <soap:operation soapAction="SeiAction" />
      <wsdl:input>
        <soap:body namespace="SeiComplementar" use="encoded"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="SeiComplementar" use="encoded"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="SeiComplementarService">
    <wsdl:port name="SeiComplementarPortService" binding="tns:SeiComplementarBinding">
      <soap:address location="[servidor]/modulos/ufsc/wscomplementar/ws/SeiComplementarWS.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>